node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/logs

# OS
.DS_Store
Thumbs.db

# SQLite
*.db
*.db-journal

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

python-pylon/venv/
python-pylon/__pycache__/
python-pylon/config_local.py

